/* Navigation Styles */
#NavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

#NavBar ul li {
    display: inline-block;
    
}


#NavBar ul li a {
    display: block; /* Added block so padding works correctly */
    padding: 14px 16px; 
    text-decoration: none;
}
#NavBar
{
    font-size: 30px;
    background-color: #1E293B;
    color: #F8FAFC;
    border-radius: 25px;
    width: auto;
    
}
/* Global Styles */
body {
 
    background-color: #F7F9FC;
}

header {
    text-align: center;
}

/* #aboutme {

} */

.info {
    text-align: center;
}

/* Grid/Flex Container */
.Grid-container {
    display: flex;
    gap: 10px; 
    padding: 20px;
}

#para-1, #para-2, #para-3 {
    flex: 1;
    background-color: lightgrey;
    min-height: 200px; /* Added so empty boxes show up */
    padding: 10px;
}

#para-1{
    background-color: #36586e;
}
#para-2
{
    background-color: #4f8361;
}
#para-3
{
    background-color: #7f723f;
}
body {
  transition: background-color 0.5s ease;
}
.stain {
  width: 20px;
  height: 20px;
}

.Middle .stain {
width: 50px;
  height: 50px;
}
.Eyeballgrid
{
        flex: 1;           /* Makes it match the width of para-1, 2, and 3 */
    min-height: 200px; 
}
#Eyeball
{
   width: 50px;
   height: 50px;
   display: none;
}
.Eyeballgrid:hover #Eyeball {
    display: block;
}